USE [master]
GO
/****** Object:  Database [sach]    Script Date: 11/6/2025 7:13:08 PM ******/
CREATE DATABASE [sach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL16SERVER\MSSQL\DATA\sach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQL16SERVER\MSSQL\DATA\sach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sach]
GO
/****** Object:  Table [dbo].[chitietdonhang]    Script Date: 11/6/2025 7:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietdonhang](
	[madh] [int] NOT NULL,
	[masach] [int] NOT NULL,
	[soluong] [int] NULL,
	[dongia] [decimal](20, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[madh] ASC,
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chude]    Script Date: 11/6/2025 7:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chude](
	[macd] [int] NOT NULL,
	[tencd] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[macd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donhang]    Script Date: 11/6/2025 7:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donhang](
	[madh] [int] NOT NULL,
	[ngaygiao] [date] NULL,
	[ngaydat] [date] NULL,
	[dathanhtoan] [bit] NULL,
	[tinhtranggiaohang] [nvarchar](20) NULL,
	[makh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[madh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 11/6/2025 7:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[makh] [int] NOT NULL,
	[hoten] [nvarchar](200) NULL,
	[ngaysinh] [date] NULL,
	[gioitinh] [nvarchar](3) NULL,
	[dienthoai] [varchar](15) NULL,
	[taikhoan] [varchar](200) NULL,
	[matkhau] [varchar](500) NULL,
	[email] [varchar](100) NULL,
	[diachi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhaxuatban]    Script Date: 11/6/2025 7:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhaxuatban](
	[manxb] [int] NOT NULL,
	[tennxb] [nvarchar](50) NULL,
	[diachi] [nvarchar](200) NULL,
	[dienthoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 11/6/2025 7:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[masach] [int] NOT NULL,
	[tensach] [nvarchar](50) NULL,
	[giaban] [decimal](20, 2) NULL,
	[mota] [nvarchar](200) NULL,
	[ngaycapnhat] [date] NULL,
	[anhbia] [varchar](200) NULL,
	[soluongton] [int] NULL,
	[macd] [int] NULL,
	[manxb] [int] NULL,
	[moi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tacgia]    Script Date: 11/6/2025 7:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tacgia](
	[matg] [int] NOT NULL,
	[tentg] [nvarchar](50) NULL,
	[diachi] [nvarchar](200) NULL,
	[tieusu] [nvarchar](500) NULL,
	[dienthoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[matg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thamgia]    Script Date: 11/6/2025 7:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thamgia](
	[masach] [int] NOT NULL,
	[matg] [int] NOT NULL,
	[vaitro] [nvarchar](50) NULL,
	[vitri] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[masach] ASC,
	[matg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[donhang] ADD  DEFAULT ((0)) FOR [dathanhtoan]
GO
ALTER TABLE [dbo].[chitietdonhang]  WITH CHECK ADD FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[chitietdonhang]  WITH CHECK ADD FOREIGN KEY([madh])
REFERENCES [dbo].[donhang] ([madh])
GO
ALTER TABLE [dbo].[donhang]  WITH CHECK ADD FOREIGN KEY([madh])
REFERENCES [dbo].[khachhang] ([makh])
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD FOREIGN KEY([macd])
REFERENCES [dbo].[chude] ([macd])
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD FOREIGN KEY([manxb])
REFERENCES [dbo].[nhaxuatban] ([manxb])
GO
ALTER TABLE [dbo].[thamgia]  WITH CHECK ADD FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[thamgia]  WITH CHECK ADD FOREIGN KEY([matg])
REFERENCES [dbo].[tacgia] ([matg])
GO
USE [master]
GO
